html {
    scroll-behavior: smooth;
    background-color: #010B19;
    color: white;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #063852;
    height: 100px;
    margin:0 50px 50px;
    border-radius: 0 0 30px 30px;
    padding: 0 50px 0 50px;
}

.logo {
    display: flex;
    align-items: center;

}

header a.logo {
    font-size: 32px;
    font-weight: bold;
    padding: 30px 0 30px 0;
}

header a {
    font-size: 14px;
    align-items: center;
    padding: 30px 0 30px 30px;
}


nav {
    display: flex;
    align-items: center;

}

button {
    border: 1px solid white;
    border-radius: 25px;
    background-color: #063852;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
}

.anim-bg-gradient {
    background: linear-gradient(84.29deg, #FC466B -22.08%, #3F5EFB 97.7%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    border: 0;
    padding: 20px 101px;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 56px;
}

.anim-bg-gradient:hover {
    background-position: 0 0;
}

* {
    box-sizing: border-box;
}



.row:after {
    display: table;
    clear: both;
}



.example-1 .form-group{
    padding:1em;
    margin:1em
}
.example-1 input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}

.label{
    margin: 15px 12px 5px 5px;
}

.example-1 .label{
    width:718px;
    height:426px;
    border:2px dashed white;
    border-radius:70px;
    display:block;
    transition:border 300ms ease;
    cursor:pointer;

}
.example-1 .label i{
    display:block;
    font-size:42px;
    padding-bottom:16px
}

.example-1 .label:hover{
    border:2px solid #063852
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #063852;
    height: 100px;
    margin: 100px 50px 0 50px;
    border-radius: 30px 30px 0 0;

}

.logo-footer{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 38px 0 38px 50px;
}

.img-7-footer{
    width:134px;
    height: 67px;
    background: url("image 7.png");
    margin-right: 30px;
}

.img-6-footer{
    width:70px;
    height: 67px;
    background: url("image 6.png");
    margin-right: 50px;
}

.column-file{
    margin-top: 50px;
}

.column-file p{
    font-size: 40px;
    text-align: center;
    margin: auto;
}

.column-file-loading{
    width:788px;
    height:486px;
    display: block;
    background-color: #063852;
    border-radius: 70px;
    margin:auto;
}

.column-file-box{
    width:480px;
    height:170px;
    display: block;
    background-color: #063852;
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
    padding: 11px 25px 0 25px
}

.file-button-1{
    padding: 12px 20px;
    margin: 0 20px 30px 0;
}

.file-button-2{
    padding: 12px 65px;
    margin: 0 20px 0 0;
}

.file-button-3{
    padding: 12px 44px;
    margin: 0 0 30px 0
}

.file-button-4{
    padding: 12px 40px;
    margin: 0 0 0 0
}

.header-min-770{
    display: none;
}

.column-result{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.column-result p{
    font-size: 40px;
    text-align: center;
    margin: auto;
}

.column-result-box{
    width:1180px;
    height:100px;
    display: block;
    background-color: #063852;
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
    padding: 30px 130px  30px 130px;
}


.result-box-button{
    margin: auto;
    align-items: center;
}

.result-button-1{background-color: #32CD32; color: #063852; padding: 12px 77px; margin-right: 30px; border: none;}
.result-button-1::before{background-color: #32CD32; color: #063852; content: "Готово"}
.result-button-1:hover {background-color: #B00000; color: #D9D9D9; padding: 12px 60px;}
.result-button-1:hover::before {background-color: #B00000; color: #D9D9D9; content: "Остановить"}

.result-button-2{
    padding: 12px 68px;
    margin-right: 30px;
}

.result-button-3{
    padding: 12px 60px;
    margin-right: 30px;
}

.result-button-4{
    padding: 12px 9px 12px 20px;
}

.result-button-4 canvas{
    width: 20px;
    height: 20px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 0 0 4px 0;
    transform: rotate(45deg);
    margin: -5px 6px 0 10px ;
    align-items: center;
}

.column-intr{
    margin-left: 50px;
    float: left;
    width: 35%;
}

.intr-gym{
    font-size: 80px;
    margin-top: 150px;
    font-weight: bold;
}

.intr-text{
    font-size: 20px;
    margin-top: 55px;
    margin-right: 27px;
}

.column-img{
    margin-right: 50px;
    float: right;
    width: 686px;
}

#drone-anim{

    .img-city{
        width:686px;
        float: right;
    }

    .img-drone{
        margin-right: 188px;
        float: right;
        margin-top: -126px;
        transition: 0.5s;
    }
}

#drone-anim:hover{

    .img-drone{
        margin-top: -50px;
        margin-right: 188px;
        float: right;
        transition: 0.5s;
    }
}

.intr-next{
    margin-bottom: 100px;
}

.nav-min-770px{
    display: none;
}

.prcessed-img-table{
    width: 935px;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;

}

.prcessed-img{
    width:200px;
    height:213px;
    display: block;
    border: 1px solid white;
    border-radius: 20px 20px 0 0;
    margin: 0 15px 0 15px;
    padding: 0 1px 1px 0;
}

.prcessed-img-img{
    width:199px;
    height:212px;
    display: block;
    border-radius: 20px 20px 0 0;
}

.prcessed-nav{
    width:200px;
    height:87px;
    display: block;
    background-color: #010B19;
    border: 1px solid white;
    border-radius: 0 0 20px 20px;
    margin: 0 15px 30px 15px;
    padding: 12px 15px 15px 15px;
}

.img-5{
    border: 0 solid white;
    border-radius: 0;
    background-color: #010B19;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    float: left;
}

.img-4{
    border: 0 solid white;
    border-radius: 0;
    background-color: #010B19;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    float: right;
}
@media (max-width: 1275px){
    .column-result-box{
        width:289px;
        height:272px;
        display: block;
        background-color: #063852;
        border-radius: 50px;
        margin: auto;
        margin-top: 20px;
        padding: 22px 45px 22px 45px;
    }
    .result-button-1{
        margin: 0 0 19px 0;
    }

    .result-button-2{
        margin: 0 0 19px 0;
    }

    .result-button-3{
        margin: 0 0 19px 0;
    }

    .result-button-4{
        margin: 0 0 0 0;
    }
}

@media (max-width: 1220px) {
    .column-img{
        display: none;
    }
    .column-intr{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 64px 0 64px;
        width: auto;
    }
    .intr-gym{
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        margin: auto;
    }
    .intr-text{
        font-size: 20px;
        margin: 50px 14px 0 14px;
    }
    .intr-next{
        margin: auto;
        margin-top: 182px;
    }
}

@media (max-width: 1000px){
    .column-file p{
        font-size: 35px;
        text-align: center;
        margin: auto;
    }

    .column-file-loading{
        width:547px;
        height:337px;
        display: block;
        background-color: #063852;
        border-radius: 70px;
        margin:auto;

    }

    .example-1 .form-group{
        padding: 20px 0 0 10px;
        margin:1em
    }
    .example-1 input[type=file]{
        outline:0;
        opacity:0;
        pointer-events:none;
        user-select:none
    }

    .label{
        margin: 0;
    }

    .example-1 .label{
        width:498px;
        height:296px;
        border:2px dashed white;
        border-radius:70px;
        display:block;
        transition:border 300ms ease;
        cursor:pointer;

    }
}

@media (max-width: 770px){
    .header-max-770{
        display: none;
    }

    .header-min-770{
        display: contents;
    }

    .header-menu{
        width: 18px;
        height: 3px;
        background: #D9D9D9;
        border-radius: 1px;
        margin-bottom: 3px;
    }

    .header-min-770 button{
        width: 40px;
        height: 40px;
        border-radius: 25px;
        padding: 12px 10px 10px 10px;
    }

    .img-7-footer{
        margin-right: 20px;
    }

    .img-6-footer{
        margin-right: 20px;
    }

    .logo-footer{
        margin-left: 20px;

    }

    .column-file p{
        font-size: 20px;
        text-align: center;
        margin: auto;
    }

    .column-file-loading{
        width:419.99px;
        height:272px;
        display: block;
        background-color: #063852;
        border-radius: 70px;
        margin:auto;

    }

    .example-1 .form-group{
        padding:16px 0 0 4px;
        margin:1em
    }
    .example-1 input[type=file]{
        outline:0;
        opacity:0;
        pointer-events:none;
        user-select:none
    }

    .label{
        margin: 0;
    }

    .example-1 .label{
        width:382.64px;
        height:238.42px;
        border:2px dashed white;
        border-radius:70px;
        display:block;
        transition:border 300ms ease;
        cursor:pointer;

    }

    .nav-max-770px{
        display: none;
    }

    .nav-min-770px{
        display: contents;
    }

    .column-file-box{
        width:266px;
        height:312px;
        display: block;
        background-color: #063852;
        border-radius: 50px;
        margin: auto;
        margin-top: 30px;
        padding: 34px 33px 34px 33px
    }

    .file-button-1{
        padding: 12px 19px;
        margin: 0 0 24px 0;
    }

    .file-button-2{
        padding: 12px 68px;
        margin: 0 0 24px 0;
    }

    .file-button-3{
        padding: 12px 43px;
        margin: 0 0 24px 0
    }

    .file-button-4{
        padding: 12px 39px;
        margin: 0 0 0 0
    }

    .column-result p{
        font-size: 24px;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 520px){
.img-7-footer{
        margin-right: 15px;
        width:114px;
        height: 57px;
    }

    .img-6-footer{
        margin-right: 15px;
        width:50px;
        height: 47.86px;
    }

    .logo-footer{
        font-size: 14px;
        margin-left: 15px;
    }

    .prcessed-img-table {
        width: 232px;
    }
}
